body{
    background: #f1f2f6;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 800px;
    margin: auto;
    
}
h1{
    margin: 96px auto;
    font-weight: bold;
    
}

h3,
p{
    justify-content: center;
    text-align: left;
    width: 30%;
    line-height: 2;
}
p{
    font-style: italic;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10%;
    box-shadow: 10px 10px 8px;
}